html {
  --textColor: hsl(0, 0%, 30%);
  --lightTextColor: hsl(0, 0%, 40%);
  --titleTextColor: hsl(0, 0%, 20%);
  --linkTextColor: hsl(0, 0%, 20%);
  --backgroundColor: hsl(0, 0%, 100%);
  --separatorColor: hsl(0, 0%, 80%);
  --commentBorderColor: hsl(0, 0%, 90%);
  --inputBorderColor: hsl(0, 0%, 70%);

  --sansSerifFont: 'PT Sans', sans-serif;
  --serifFont: 'PT Serif', serif;
}

html.dark {
  --textColor: hsl(0, 0%, 70%);
  --lightTextColor: hsl(0, 0%, 60%);
  --titleTextColor: hsl(0, 0%, 80%);
  --linkTextColor: hsl(0, 0%, 80%);
  --backgroundColor: hsl(0, 0%, 15%);
  --separatorColor: hsl(0, 0%, 40%);
  --commentBorderColor: hsl(0, 0%, 30%);
  --inputBorderColor: hsl(0, 0%, 30%);
}
