html {
  --textColor: hsl(0, 0%, 10%);
  --lightTextColor: hsl(0, 0%, 40%);
  --titleTextColor: hsl(0, 0%, 20%);
  --linkTextColor: hsl(0, 0%, 20%);
  --backgroundColor: hsl(0, 0%, 100%);
  --separatorColor: hsl(0, 0%, 80%);
  --commentBorderColor: hsl(0, 0%, 90%);
  --inputBorderColor: hsl(0, 0%, 70%);

  --accentColor: hsl(201, 31%, 66%);
  --articleTitleTextColor: hsl(201, 31%, 30%);
  --pageHeaderColor: hsla(201, 31%, 30%, 70%);
  --lightAccentColor: hsla(201, 31%, 66%, 15%);

  --sansSerifFont: 'Raleway', sans-serif;
  --serifFont: 'Libre Baskerville', serif;
}

html.dark {
  --textColor: hsl(0, 0%, 70%);
  --lightTextColor: hsl(0, 0%, 60%);
  --titleTextColor: hsl(0, 0%, 80%);
  --linkTextColor: hsl(0, 0%, 80%);
  --backgroundColor: hsl(0, 0%, 15%);
  --separatorColor: hsl(0, 0%, 40%);
  --commentBorderColor: hsl(0, 0%, 30%);
  --inputBorderColor: hsl(0, 0%, 30%);

  --articleTitleTextColor: hsl(201, 31%, 80%);
}

body {
  padding: 0;
  margin: 0;
}